extends base.pug
include mixins/video

block homeContent 
    nav 
        ul 
            li 
                a(href="/videos/upload") Upload Video

block content 
    ul
        each potato in videos 
            +video(potato)

        else 
            li Sorry nothing found.