extends base.pug

block content 
    div
        video#preview
        button#actionBtn Start Recording
    if errorMessage 
        span=errorMessage
    form(method="POST", enctype="multipart/form-data")
        label(for="video") Video File 
        input(type="file", accept="video/*", required, id="video", name="video")
        label(for="thumb") Thumbnail File 
        input(type="file", accept="image/*", required, id="thumb", name="thumb")
        input(name="title", placeholder="Title", required, type="text", maxlength=80)
        input(name="description", placeholder="Description", required, type="text", minlength=20)
        input(name="hashtags", placeholder="Hashtags, separated by commas", required, type="text")
        input(type="submit", value="Upload Video")

block scripts
    script(src="/static/js/recorder.js")