extends ../base
    
block content 
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(placeholder="Old Password", name="oldPassword", type="password")
        input(placeholder="New Password", name="newPassword", type="password")
        input(placeholder="New Password Confirmation", name="newPasswordConfirmation", type="password")
        input(value="Change Password", type="submit")
